  services:
    postgres:
      profiles: ["postgres"]
      container_name: postgres
      image: postgres
      env_file: ".env"
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 3s
        retries: 5

    oracle:
      profiles: ["oracle"]
      container_name: oracle
      image: oraclelinux:10-slim
      env_file: ".env"
      ports:
        - "5431:1521"
      volumes:
        - oracledata:opt/oracle/oradata
      healthcheck:
        #test here
        interval: 5s
        timeout: 3s
        retries: 5

    postgis:
      profiles: ["postgis"]
      container_name: postgis
      image: postgis/postgis:13-3.5
      env_file: ".env"
      ports:
        - "5433:5432"
      volumes:
        - postgisdata:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 3s
        retries: 5

    mongodb:
      profiles: ["mongodb"]
      container_name: mongodb
      image: mongo:4.2.3-bionic
      env_file: ".env"
      ports:
        - "27017:27017"
      volumes:
        - mongodbdata:/data/db
      healthcheck:
        test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
        interval: 5s
        timeout: 3s
        retries: 5

    cassandra:
      profiles: ["cassandra"]
      container_name: cassandra
      image: cassandra:5.0.6
      env_file: ".env"
      ports:
        - "9042:9042"
      volumes:
        - cassandradata:/var/lib/cassandra
      healthcheck:
        test: ["CMD-SHELL", "cqlsh -e 'describe keyspaces'"]
        interval: 35s
        timeout: 20s
        retries: 10

    couchbase:
      profiles: ["couchbase"]
      container_name: couchbase
      image: couchbase:enterprise-8.0.0
      env_file: ".env"
      ports:
        - "8091:8091"
        - "11210:11210"
      volumes:
        - couchbasedata:/opt/couchbase/var
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8091/pools"]
        interval: 5s
        timeout: 3s
        retries: 5

    start:
      container_name: start
      build:
        context: .
        dockerfile: Dockerfile.dev
      environment:
        - HOKIDAR_USEPOLLING=true
      ports:
        - "4444:4444/udp"

  volumes:
    pgdata: {}
    oracledata: {}
    postgisdata: {}
    mongodbdata: {}
    cassandradata: {}
    couchbasedata: {}
